<!-- TODO: Add next and previous icons to sides of screen -->
<div class="row">
    <div class="col-md-12">
        <h3><span editable-text="photo.title">{{photo.title || "No Title"}}</span> - <a href="#" editable-text="photo.category">{{photo.category || "No Category"}}</a></h3>
        <!-- TODO: Make height fit window size -->
        <img class="img-responsive" ng-src="{{photo.url}}">
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h3 >Photo Description</h3>
        <p editable-textarea="photo.description" e-rows="7" e-cols="40">{{photo.description}}</p>
    </div>
    <div class="col-md-4">
        <h3>Photo Details</h3>
        <ul>
            <li ng-repeat="property in photo.properties">
                <span ng-switch="property.type">
                    <span ng-switch-when="text">{{property.name}} - <span editable-text="property.value">{{property.value || "No Value"}}</span></span>
                    <span ng-switch-when="date">{{property.name}} - <span editable-date="property.value">{{(property.value | date:"dd/MM/yyyy") || "no Date"}}</span></span>
                    <span ng-switch-default>{{property.name}} - {{property.value || "No Value"}}</span>
                </span>
            </li>
<!--             <li>Location - <a href="#">London, United Kingdom</a></li>
            <li>Date taken - <span editable-date="photo.date_taken">{{ (photo.date_taken | date:"dd/MM/yyyy") || "No Date"}}</span></li>
            <li>Dimensions - Lorum Ipsum</li>
            <li>File name - Lorum Ipsum</li>
            <li>File size - Lorum Ipsum</li>
            <li>Camera - Lorum Ipsum</li>
            <li>Focal Length - Lorum Ipsum</li>
            <li>Exposure - Lorum Ipsum</li>
            <li>F Number - Lorum Ipsum</li>
            <li>ISO - Lorum Ipsum</li>
            <li>Camera make - Lorum Ipsum</li>
            <li>Flash (used or not used) - Lorum Ipsum</li>
            <li>Exposure Bias - Lorum Ipsum</li> -->
            <li>Tags - <span ng-repeat="tag in photo.tags"><a ng-href="/search?tag={{tag}}">{{tag}}</a>{{$last ? '' : ', '}}</span></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Related Photos</h3>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="./image.html">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div>
    </div>                
</div>
